.current-goods-wrapper {
  width: 900px;
  margin: 0 auto;
}

.current-goods-block {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 70px;
}

.img-block {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.img-previews {
  width: 10%;
}

.img-preview {
  width: 100%;
  cursor: pointer;
  opacity: .6;
}

.active-img {
  opacity: 1;
  border: 1px solid rgba(31,45,61,.11);
}

.main-img-block {
  width: 85%;
}

.main-img {
  width: 100%;
  // cursor: pointer;
}

.ivu-carousel-arrow {
  background: none!important;
  color: black!important;
}

.ivu-carousel-arrow:hover {
  background: rgba(31,45,61,.11)!important;
}

button .ivu-icon {
  font-size: 20px;
}

.current-goods-info {
  width: 50%;
  padding: 0 30px;
}

.ivu-breadcrumb {
  font-size: 10px!important;
  color: rgb(153,153,153)!important;
  font-weight: 400!important;
}

.ivu-breadcrumb>span:last-child {
  font-size: 10px!important;
  color: rgb(153,153,153)!important;
  font-weight: 400!important;
}

.ivu-breadcrumb-item-link {
  font-size: 10px!important;
  color: rgb(153,153,153)!important;
  font-weight: 400!important;
}

.breadcrumb {
  margin-bottom: 15px;
}

.current-goods-name {
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 38px;
}

.current-goods-headline {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 22px;
}

.current-goods-price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.current-goods-size {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 40px;
}

.current-goods-size p {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
}

.current-goods-size-buttons {
  display: flex;
  margin-bottom: 40px;
}

.current-goods-size-button {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 11px;
  border: 1px solid #DBDBDB;
  font-size: 15px;
  font-weight: 700;
  user-select: none;
}

.current-goods-size-button:hover {
  border: 1px solid #000000;
}

.current-goods-size-button.active {
  background-color: black;
  color: white;
}

.current-goods-color-buttons {
  display: flex;
  margin-bottom: 40px;
}

.current-goods-color-button {
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 11px;
  border: 1px solid #DBDBDB;
  font-size: 15px;
  font-weight: 700;
  user-select: none;
  padding: 0 27px;
}

.current-goods-color-button.active {
  background-color: black;
  color: white;
}

.current-goods-color-button:hover {
  border: 1px solid #000000;
}

.add-to-cart-block {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.quantity-to-cart {
  background: #F4F4F4;
  width: 160px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 19px;
  margin-right: 16px;
}

.quantity-to-cart img {
  cursor: pointer;
}

.quantity-button {
  font-size: 15px;
  font-weight: 700;
  user-select: none;
}

.quantity-icon {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
} 

.add-to-cart-button {
  background: black;
  width: 160px;
  height: 60px;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
}

.add-to-cart-button.active {
  width: 158px;
  height: 58px;
}

.current-goods-description-block {
  font-size: 15px;
  margin-bottom: 40px;
}

.current-goods-description {
  font-weight: 700;
  margin-bottom: 10px;
}

.current-goods-composition {
  display: flex;
  margin-bottom: 10px;
}

.current-goods-composition span {
  font-weight: 700;
  margin-right: 5px;
}

.current-goods-care-title {
  font-weight: 700;
}

.catalog-block {
  margin-bottom: 70px;
}

.offer-goods {
  display: flex;
  border-bottom: 1px solid #EAEAEA;
}

.offer-headline {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
}

.offer-item {
  width: 20vw;
  margin-right: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.history-views {
  margin-bottom: 90px;
}

.history-slide {
  width: 250px;
  display: flex;
  cursor: pointer;
  margin-right: 10px;
}

.img-slide {
  width: 70px;
  margin-right: 19px;
}

.VueCarousel-navigation-button {
  font-size: 40px;
}

.history-headline {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
}

.history-name {
  font-size: 15px;
  margin-bottom: 5px;
}

.history-price {
  font-weight: 700;
  font-size: 15px;
}