.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
}



.item {
    cursor: pointer;
    background: purple;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    margin-bottom: 10px;
    user-select: none;
}

.items-container {
    display: flex;
    flex-direction: column;
}