

.ivu-drawer-content-no-mask {
    top: 100px!important;
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
    color: black!important; 
    background: none!important;

}

.ivu-menu-submenu-title .ivu-menu-item {
    color: black!important;
    background: none!important;
}

.ivu-menu-submenu-title {
    font-weight: 700!important;
    font-size: 20px!important;
}

.ivu-menu-submenu-title:hover {
    color: black!important;
}

.ivu-menu-item:hover {
    color: black!important;
    background: none!important;

}

.menu-narrow {
    color: black!important;

}

.ivu-menu-vertical.ivu-menu-light:after {
    content: none!important;
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after {
    background: black!important;
}

.router-link-custom {
    color: black!important;
    font-size: 17px!important;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px!important;
    height: 3px!important; 
}
