.nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 15;
    background: white;
    display: flex;
    align-items: center;
}

.dropdown-block {
    width: 350px;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.ivu-dropdown-item a {
    color: black!important;
    font-size: 15px;
}

.ivu-dropdown-rel a {
    color: black!important;
    font-size: 15px;
}

.ivu-select-dropdown {
    box-shadow: none!important;
}


.search-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    user-select: none;
}

.icon {
    height: 20px;
    cursor: pointer;
}

.cart-icon {
    height: 28px;
    cursor: pointer;
}

.logo {
    cursor: pointer;
    user-select: none;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.ivu-drawer-body {
    padding: 40px!important;
}

.cart-title {
    font-weight: 700;
    font-size: 30px;
}

.cart-close {
    cursor: pointer;
}

#enscart_my_wrapper {
    text-align: center;
    position: relative;
    z-index: 1140;
}
  #enscart_myimage_wrapper {
    // height: 20px;
    cursor: pointer;
    z-index: 1140;
}
  #enscart_my_wrapper img {
    
    width: auto;
    padding-top: 8px;
}
  #enscart_my_counter_wrapper {
    cursor: pointer;
    min-width: 20px;
    height: 20px;
    background-color: #FE030A;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1150;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.ivu-select-dropdown {
    box-shadow: 0px 9px 68px -26px rgba(0,0,0,0.75)!important;
}