.nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 15;
    background: white;
    display: flex;
    align-items: center;
}

.dropdown-block {
    width: 350px;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.ivu-dropdown-item a {
    color: black!important;
    font-size: 15px;
}

.ivu-dropdown-rel a {
    color: black!important;
    font-size: 15px;
}

.ivu-select-dropdown {
    box-shadow: none!important;
}


.search-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60px;
    user-select: none;
}

.icon {
    height: 20px;
    cursor: pointer;
}

.logo {
    cursor: pointer;
    user-select: none;
}